[Desktop Entry]
Name=Station
Name[x-test]=xxStationxx
Comment=Terminal Emulator
Comment[x-test]=xxTerminal Emulatorxx
TryExec=station
Exec=station %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;
StartupNotify=true
Icon=maui-station
