[Desktop Entry]
Name=Station
Name[ast]=Station
Name[az]=Stansiya
Name[ca]=Estació
Name[ca@valencia]=Estació
Name[de]=Station
Name[en_GB]=Station
Name[es]=Estación
Name[et]=Jaam
Name[fi]=Station
Name[fr]=Station
Name[hu]=Station
Name[it]=Stazione
Name[ko]=Station
Name[nl]=Station:
Name[nn]=Station
Name[pa]=ਸਟੇਸ਼ਨ
Name[pl]=Stacja
Name[pt]=Station
Name[pt_BR]=Station
Name[ro]=Station
Name[sk]=Station
Name[sl]=Postaja
Name[sv]=Station
Name[uk]=Station
Name[x-test]=xxStationxx
Name[zh_TW]=Station
Comment=Terminal Emulator
Comment[ast]=Emulador de terminal
Comment[az]=Terminal Emulatoru
Comment[ca]=Emulador de terminal
Comment[ca@valencia]=Emulador de terminal
Comment[cs]=Emulátor terminálu
Comment[de]=Terminal-Emulator
Comment[en_GB]=Terminal Emulator
Comment[es]=Emulador de terminal
Comment[et]=Terminaliemulaator
Comment[fi]=Pääte-emulaattori
Comment[fr]=Émulateur de terminal
Comment[hu]=Terminálemulátor
Comment[it]=Emulatore di terminale
Comment[ko]=터미널 에뮬레이터
Comment[nl]=Terminalemulator
Comment[nn]=Terminalemulator
Comment[pa]=ਟਰਮੀਨਲ ਈਮੂਲੇਟਰ
Comment[pl]=Emulator terminala
Comment[pt]=Emulador de Terminal
Comment[pt_BR]=Emulador de terminal
Comment[ro]=Emulator de terminal
Comment[sk]=Emulátor terminálu
Comment[sl]=Emulator terminala
Comment[sv]=Terminalemulator
Comment[uk]=Емулятор термінала
Comment[x-test]=xxTerminal Emulatorxx
Comment[zh_TW]=終端機模擬器
TryExec=station
Exec=station
Terminal=false
Type=Application
Categories=Qt;KDE;System;TerminalEmulator;
StartupNotify=true
Icon=station
X-KDE-AuthorizeAction=shell_access
